* {
  font-family: sans-serif;
}

#user_name, #user_mail, #user_phone_no, #oneway_pickup_date_textbox, #oneway_pickup_time {
  cursor: pointer;
  background: #f7f9fc;
  border: none;
  border-left: 3px solid #fe3e66;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 6px;
  height: 40px;
}

.nav-item:hover {
  /*border-bottom: 4px #b318a2;*/
  box-shadow: 0px 0px 10px -3px;
  border-radius: 20px;
  /*border-color: #b318a2;*/
  /*border-width: 2px;*/
  /*border-bottom: #b318a2;*/
}

@media (min-width: 768px) {
  #homepage_title {
    color: var(--bs-dark);
  }
}

@media (max-width: 300px) {
  #homepage_title {
    font-size: 34px;
    color: rgb(4,4,4);
    letter-spacing: 1px;
    box-shadow: inset 0px 0px;
    text-shadow: 0px 0px 1px;
  }
}

@media (min-width: 300px) {
  #call-us-now {
    width: 100px;
    height: 43px;
  }
}

@media (min-width: 300px) {
  #whatsapp_msg {
    width: 100px;
    height: 43px;
  }
}

@media (min-width: 700px) {
  #call-us-now {
    width: 172px;
    height: 80px;
  }
}

@media (min-width: 700px) {
  #whatsapp_msg {
    width: 170px;
    height: 80px;
  }
}

#oneway {
  font-weight: bold;
}

#begin {
}

@media (min-width: 300px) {
  #begin {
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  #begin {
    font-size: 20px;
  }
}

@media (min-width: 300px) {
  #homepage_title {
    font-size: 20px;
  }
}

@media (min-width: 300px) {
  #logo {
    width: 90px;
    height: 35px;
  }
}

@media (min-width: 1200px) {
  #logo {
    width: 138px;
    height: 57px;
  }
}

@media (min-width: 1200px) {
  #homepage_title {
    font-size: 40px;
  }
}

