@media (max-width: 300px) {
  .register-photo {
    /*background-image: url("booking_form.jpg");*/
    background: #ffffff;
    padding: 80px 0;
    margin-top: 244px;
  }
}

.register-photo .image-holder {
  display: table-cell;
  width: auto;
  background: url(meeting.jpg);
  background-size: cover;
}

.register-photo .form-container {
  /*display: table;*/
  max-width: 900px;
  width: 95%;
  /*background-image: url("booking_form.jpg");*/
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.register-photo form {
  max-width: 300px;
  /*background-image: url("booking_form.jpg");*/
  /*display: table-cell;*/
  width: 400px;
  background-color: #ffffff;
  padding: 57px 29px;
  color: #505e6c;
}

@media (max-width:991px) {
  .register-photo form {
    padding: 40px;
  }
}

.register-photo form h2 {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.register-photo form .form-control {
  cursor: pointer;
  background: #f7f9fc;
  border: none;
  border-left: 3px solid #fd6b84;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 6px;
  height: 35px;
}

.register-photo form .form-check {
  font-size: 13px;
  line-height: 20px;
}

.register-photo form .btn-primary {
  background: #f4476b;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 35px;
  text-shadow: none;
  outline: none !important;
}

d93083 {
  background: #;
}

.register-photo form .btn-primary:active {
  transform: translateY(1px);
}

.register-photo form .already {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

