.rounded-0 {
  /*border-radius: 0!important;*/
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #505f6c;
  /*font-weight: bold;*/
  background-color: #fd6b84;
  border-radius: 25px;
  font-color: #ffffff;
}

.rounded-circle {
  border-radius: 50%!important;
}

.btn-check:active + .btn-primary, .btn-check:checked + .btn-primary, .btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  /*background-color: #0a58ca;*/
  /*border-color: #0a53be;*/
}

