body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: #ffffff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.btn-check:active + .btn-primary, .btn-check:checked + .btn-primary, .btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0a58ca;
  border-color: #0a53be;
}

.py-5 {
  /*padding-top: 3rem!important;*/
  /*padding-bottom: 3rem!important;*/
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: white;
  border-color: #505f6c;
  border: solid 2px;
  border-radius: 25px;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
  color: #505f6c;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-link:focus, .nav-link:hover {
  color: #505f6c;
}

@media (min-width: 1200px) {
  #app_download_column {
    display: none;
  }
}

