/* Custom container styling */

.container {
  padding: 40px;
  background-color: #f8f9fa;
  border-radius: 8px;
}

.form-control {
  padding: 14px;
}

/* Calendar custom styling */

.daterangepicker .drp-calendar .calendar-table td.available {
  padding: 8px;
  width: 40px !important;
  height: 40px !important;
}

/* Left and right navigation buttons styling */

.daterangepicker .drp-calendar .prev, .daterangepicker .drp-calendar .next {
  width: 28px;
  height: 28px;
  background-color: #f5e4ed;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Selected date styling */

.daterangepicker .drp-calendar .calendar-table .active {
  background-color: #FE4066 !important;
  color: white !important;
  border-radius: 10px;
}

/* In-range date styling */

.daterangepicker .drp-calendar .calendar-table .in-range {
  background-color: #FE4066 !important;
  color: white !important;
  border-radius: 10px;
}

/* Hide month and year dropdowns */

.daterangepicker select.monthselect, .daterangepicker select.yearselect {
  display: none;
}

/* Style for displaying fixed month and year */

.daterangepicker .drp-calendar .calendar-table th.month {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0 10px;
}

.vehicle-image:hover {
  transform: scale(1.1);
}

.nav-button {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

