#header_nav {
  background-color: transparent;
  transition: background-color 0.3s ease;
}

/* Background becomes white when scrolled */

#header_nav.scrolled {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-check-input input[name="tripType"]:checked {
  border-color: black;
}

/* Remove the blue outline (box-shadow) when focused */

.form-check-input input[name="tripType"]:focus {
  box-shadow: none;
  border-color: black;
}

/* Optional: Change the background color when selected */

.form-check-input input[name="tripType"]:checked {
  background-color: black;
}

.form-group > .form-label {
  /*top: -75px;*/
  /*bottom: 34px;*/
  left: 27px;
  position: absolute;
  top: -6px;
  background-color: white;
  padding: 0px 5px 0px 5px;
  font-size: 0.75em;
  transition: 0.2s;
  pointer-events: none;
}

.form-control:focus ~ .form-label {
  bottom: 55px;
}

.form-control:valid ~ .form-label {
  bottom: 73px;
}

input::placeholder {
  color: #919191;
  font-family: 'Source Sans Pro';
  font-size: 16px;
  letter-spacing: -0.32px;
  font-weight: 200;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: white;
  background: #FE4469;
  width: 150px;
  border-radius: 25px;
  border: none;
  outline: none;
}

.nav-link {
  color: #604046;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  /*color: #604046;*/
  border: none;
  outline: none;
}

.nav-link {
  transition: none;
}

input::placeholder {
  color: #919191;
  font-family: 'Source Sans Pro';
  font-size: 16px;
  letter-spacing: -0.32px;
  font-weight: 200;
}

.confirm-booking > div > input::placeholder {
  color: #8F8F8F;
  font-family: sans-serif;
  font-size: 16px;
  padding-left: 10px;
}

/* /* Not working */

.confirm-booking > div > input {
  border: 1px solid #c4c4c4;
}

.confirm-booking > div > input:focus {
  border: 1px solid var(--bs-primary);
  outline: none;
}

.hover-effect {
  border: 2px solid #d9d9d9;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.hover-effect:hover {
  border-color: #3498db;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-btn-effect:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-hover-effect {
  position: relative;
  transition: transform 0.2s ease;
}

.button-hover-effect:hover {
  transform: translateY(-2px);
}

.button-hover-effect span {
  position: relative;
  display: inline-block;
}

.button-hover-effect span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.button-hover-effect:hover span::after {
  transform: scaleX(1);
}

.nav-button {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

/* Hover effect to change color and add underline */

.nav-button:hover {
  color: #FE4066;
  text-decoration: underline;
}

select {
  word-wrap: normal;
  border-radius: 10px;
  padding: 8px;
  border-color: #c4c4c4;
  font-size: 15px;
  cursor: pointer;
}

