#loading_container {
  background-image: url('../../assets/img/background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

#phone_number_input:focus {
  outline: none;
  border: none;
}

#country_code_select:focus {
  outline: none;
  border: none;
}

#otp_divs > div > input:focus {
  outline: none;
  border: none;
}

.nav-tabs {
  border: none;
}

.nav-tabs .nav-link, .nav-tabs .nav-link.inactive {
  color: #000000;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: var(--bs-white);
  background-color: var(--bs-black);
}

/* test */

.form-group > .form-label {
  /*top: -75px;*/
  /*bottom: 34px;*/
  left: 27px;
  position: absolute;
  top: -6px;
  background-color: white;
  padding: 0px 5px 0px 5px;
  font-size: 0.75em;
  transition: 0.2s;
  pointer-events: none;
}

.form-control:focus ~ .form-label {
  bottom: 55px;
}

.form-control:valid ~ .form-label {
  bottom: 73px;
}

#search_icon {
  bottom: 38px;
  left: 13px;
  position: relative;
  background-color: white;
}

input::placeholder {
  color: #919191;
  font-family: 'Source Sans Pro';
  font-size: 16px;
  letter-spacing: -0.32px;
  font-weight: 200;
}

.confirm-booking > div > input::placeholder {
  color: #8F8F8F;
  font-family: sans-serif;
  font-size: 16px;
  padding-left: 10px;
}

/* /* Not working */

.confirm-booking > div > input {
  border: 1px solid #c4c4c4;
}

.confirm-booking > div > input:focus {
  border: 1px solid var(--bs-primary);
  outline: none;
}

/* #booking-drop-down {
  bottom: 38px;
  left: 10px;
  position: relative;
} */

/* Booking form choose time drop down */

#booking-time-icon {
  bottom: 38px;
  position: relative;
}

#choose-time-div > input::placeholder {
  font-size: 10px;
  bottom: 10px;
  position: relative;
}

#time-text {
  bottom: 30px;
  left: 5px;
  position: relative;
}

#booking-drop-down {
  bottom: 38px;
  left: 90%;
  position: relative;
}

/* ---------------------------------- */

#gender-male, #gender-female {
  font-size: 14px;
  color: #777777;
  background: white;
  background-color: blue;
  border: solid #777777;
  border-radius: 25px;
  cursor: pointer;
}

#gender-male.clicked, #gender-female.clicked {
  color: #EF005B;
  background: #FFE7F0;
  border: solid #EF005B;
}

/* ---------------------------------- */

.personal-details-input-class > input {
  border: 1px solid #c4c4c4;
  outline: none;
}

.personal-details-input-class > input::placeholder {
  font-family: sans-serif;
}

/* scrollable div for vehicle selection */

.scrollable-div {
  width: 100%;
  height: 50vh;
  border: 1px solid #cfcccc;
  overflow-y: scroll;
  position: relative;
}

.content {
  height: 200px;
}

/* Add a gradient to indicate scrolling */

.scrollable-div:before, .scrollable-div:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 20px;
  z-index: 1;
}

.scrollable-div:before {
  top: 0;
  /*background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));*/
}

.scrollable-div:after {
  bottom: 0;
  /*background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));*/
}

/* Scrollbar styling for Webkit browsers */

.scrollable-div::-webkit-scrollbar {
  width: 8px;
}

.scrollable-div::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.scrollable-div::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.accordion-button::after {
  order: 1;
  margin-left: 5px;
  margin-right: 0.5em;
  background-image: url(../../assets/img/acc_down.svg);
  background-color: white;
  font-size: 10px;
}

.accordion-button::before {
  order: 1;
  margin-left: 5px;
  margin-right: 0.5em;
  background-image: url(../../assets/img/acc_up.svg);
  background-color: white;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-radius: 10px;
}

