/* Add your styles for the dialog here */

.dialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.dialog-content {
  text-align: center;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  /*color: var(--bs-nav-pills-link-active-color);*/
  background-color: transparent;
  color: #fe3e66;
  background-color: #fbf5f7;
  border-bottom: #fe3e66 3px solid;
}

.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: #fe3e66;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-link:focus, .nav-link:hover {
  color: var(--bs-gray-700);
}

